<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>userName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit User</th>
            <th>delete User</th>
        </tr>
        <tr *ngFor="let user of userData">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td><button type="button" class="btn btn-primary">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>
        </tr>
    </table>
</div>