<div class="container">
    <form [formGroup]="registerForm">
        <div class="form-group">
            <input type="text" formControlName="username" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
        </div>
        <div class="form-group">
            <input formControlName="email" type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <button type="button" class="btn btn-dark" (click)="register()">Register</button> -->
                    <button type="button" class="btn btn-dark" (click)="register()">Register</button>
                    <br> {{successData}}
                </div>
            </div>
        </div>
    </form>
</div>